.logo {
  font-size: 30px !important;
  color: #fff !important;
}

.dropdown-menu {
  min-width: 30rem !important;
}

.submit-btn {
  background-color: #3e30ed !important;
  margin: 25px;
}

.google-btn, .git-btn {
  background-color: #3e30ed !important;
}