@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

.google {
  height: 170px;
  width: 300px;
  background-color: #35393d;
  margin: 5px;
  color: #fff;

  .icon {
    font-size: 45px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
}